@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Desafio ByCodersTec - CNAB</h1>
    <p>Desafio de programação - <a href="https://github.com/ByCodersTec/desafio-dev">instruções</a>.</p>
</div>
